@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Light.ttf);
    font-weight: lighter;
}

@font-face {
    font-family: OpenSans;
    src: url(../fonts/OpenSans-Regular.ttf);
    font-weight: normal;
}

body {
    background: #202124;
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: OpenSans;
    position: relative;
    scrollbar-width: thin;
}

header {
    border-bottom: 1px solid #5f6368;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0px 2%;
    box-sizing: border-box;
}

nav {
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img {
    width: 40px;
    cursor: pointer;
}

div.search {
    width: 50%;
    background: #636664;
    height: 80%;
    border-radius: 7px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0px 1%;
}

.search img {
    width: 25px;
    margin-right: 15px;
}

.search input {
    flex-basis: 90%;
    background: transparent;
    outline: none;
    border: none;
    color: white;
    font-size: 20px;
    line-height: 10px;
    margin-bottom: 1px;
}

.taglist {
    padding: 0px 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.tag {
    border-width: 1px;
    border-style: solid;
    padding: 5px 20px;
    border-radius: 20px;
    text-align: center;
    margin: 5px;
    cursor: pointer;
}

.notes {
    padding: 0px 2%;
    column-count: 2;
    column-gap: 10px;
}

.note {
    padding: 10px;
    border: 1px solid white;
    border-radius: 10px;
    cursor: pointer;
    margin: 0;
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    position: relative;
}

.note h3 {
    margin: 0 0 10px 0px;
}

.note p {
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 500px;
}

.tags {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.tags div {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    display: flex;
    text-align: center;
    vertical-align: middle;
}

.note_form_wrapper,
.tag_form_wrapper {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: rgba(32, 33, 36, .75);
}

.note_form_wrapper.active,
.tag_form_wrapper.active {
    display: block;
}

form.note_form,
form.tag_form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    background: #17181a;
    flex-direction: column;
    padding: 30px;
    border-radius: 20px;
    width: 50%;
}

form.tag_form {
    width: 300px;
    padding: 20px;
}

form.note_form div {
    outline: none;
    color: white;
}

form.note_form div.title {
    margin-bottom: 30px;
    font-weight: bold;
}

form.note_form .form_tags {
    margin-top: 30px;
    display: flex;
    overflow-x: scroll;
}

form.note_form .form_tags::-webkit-scrollbar {
    height: 5px;
}

form.note_form .form_tags::-webkit-scrollbar-track {
    border-radius: 30px;
    background-color: black;
    border: 1px solid #cacaca;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
}

form.note_form .form_tags::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: white;
}

[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-placeholder);
    font-weight: lighter;
    color: #5f6368;
}

.note img {
    opacity: 0;
    position: absolute;
    right: 5px;
    bottom: 5px;
    width: 30px;
    transition: .2s;
}

.note:hover img {
    opacity: 1;
}

form.tag_form .add_tag {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

form.tag_form .add_tag div {
    outline: none;
    font-weight: bold;
    flex-basis: 80%;
}

form.tag_form .tag_option {
    display: flex;
    align-items: center;
}

form.tag_form .tag_option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

form.tag_form .tag_option {
    font-size: 18px;
}

form.tag_form .tag_option img {
    width: 25px;
    margin-right: 20px;
    cursor: pointer;
}

form.tag_form .tag_option div {
    outline: none;
}

form.tag_form img {
    width: 30px;
}